.about {
    margin: 200px 0;

    &_title {
        display: flex;
        flex-direction: column;
        gap: 150px;

        h1 {
            font-size: 45px;
            font-weight: 800;
            color: #fff;
            letter-spacing: 2px;
        }
    }

    &_text {
        font-size: 20px;
        font-size: 600;
        color: #fff;
        line-height: 35px;
    }

    &_video {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 50px;

        &>div {
            border: 1px solid #fff;
        }

        video {
            width: 100%;
            height: 100%;
        }
    }
}