@media(max-width:772px) {
    .navbar {
        &_btns {
            padding-left: 250px;
        }

        &_links {
            position: fixed;
            left: -100%;
            top: 0;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 60%;
            height: 100vh;
            background-color: #fff;
            transition: 0.7s;

            a {
                color: #000;
                font-size: 20px;
            }
        }
    }

    .open {
        display: block;
        color: #fff;
        font-size: 18px;
    }

    #check:checked~.navbar_links {
        left: 0;
    }

    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        color: #000;
        font-size: 18px;
    }
}

@media(max-width:572px) {
    .navbar {
        &_btns {
            display: none;
        }
    }

    .navbar_btns:nth-of-type(1) {
        padding: 0;
        display: block;
        align-items: center;
        justify-content: center;

        button {
            background-color: #000;
            color: #fff;
        }
    }
}

@media(max-width:400px) {
    .navbar {
        &_links {
            width: 100%;
        }
    }
}

@media(max-width:1088px) {
    .showcase {
        &_wraps {
            grid-template-columns: 100%;
        }
    }
}

@media(max-width:1020px) {
    .servise {
        &_wraps {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }
    }
}

@media(max-width:670px) {
    .servise {
        &_wraps {
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
        }
    }
}

@media(max-width:326px) {
    .servise {
        &_wraps {
            .servise_wrap {
                width: 100%;
            }
        }
    }
}

@media(max-width:800px) {
    .about {
        &_video {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}